@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap);

body {
    font-family: 'Source Sans Pro', Arial, sans-serif !important;
    color: #000000;
}

a {
    text-decoration: none;
    color: #000000;
}

a:hover {
    color: #02b4e4;
}

.main {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-content: flex-start;
    justify-content: center;
}

.content {
    width: 1300px;
}

:focus,
.btn-outline-light:focus,
.nav-item:focus-visible,
.nav-link:focus-visible {
    outline: none !important;
    box-shadow: none !important;
}

.popover {
    max-width: 241px;
}

.popover-body {
    padding: 0.8rem 0.8rem;
    font-size: 15px;
    line-height: 1.6;
}

.bs-popover-bottom {
    margin-top: 5px;
}

.popover .arrow {
    position: absolute;
}

.bs-popover-bottom > .arrow {
    top: -14px;
}

.popover .arrow:before,
.popover .arrow:after {
    display: block;
    content: '';
    border-style: solid;
}

.bs-popover-bottom > .arrow:after {
    border-width: 0 0.5rem 0.5rem;
    border-bottom-color: #ffffff;
}
